{{ define "main" }}
  <div class="content project">
    <div>
      <h1>{{ .Title }}</h1>
      <ul class="tags">
        {{ range .Params.Tags }}
          <li class="tag tag--{{. | urlize}}"> {{.}}</li>
        {{ end }}
      </ul>
    </div>
    <p class="project__description">{{.Description}}:</p>
    <a class="project__link" href="{{.Params.Link}}" target="_blank">{{.Params.Link}}</a>

    <div class="md">{{ .Content }}</div>
    {{ if .Site.Params.mainMenu }}
      <div class="section bottom-menu">
        <hr/>
        <p>
          {{ range first 1 .Site.Params.mainMenu }}
            <a href="{{ .link }}">{{ .text }}</a>
          {{ end }}
          {{ if ( gt ( len .Site.Params.mainMenu ) 1 ) }}
            {{ range after 1 .Site.Params.mainMenu }}
              &#183; <a href="{{ .link }}">{{ .text }}</a>
            {{ end }}
          {{ end }}
          &#183; <a href="{{.Site.BaseURL}}">{{ .Site.Params.homepage }}</a>
        </p>
      </div>
    {{ end }}
  </div>
{{ end }}