.button {
  border: 1px solid $white;
  background-color: transparent;
  box-shadow: none;
  padding: 10px 15px;
  color: $white;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    color: $dark-grey;
    background-color: $white;
  }

  &:disabled {
    opacity: 0.3;

    &:hover {
      color: $white;
      background-color: transparent;
    }
  }
}