<!doctype html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
  <head>
    {{ block "site/meta" . }}{{ partial "site/meta.html" . }}{{ end }}
    <title>
      {{ block "title" . }}
        {{- with .Title }}{{ . }} | {{ end }}{{ .Site.Title -}}
      {{ end }}
    </title>

    {{ range .AlternativeOutputFormats }}
      <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
    {{ end }}
    <link rel="stylesheet" href="/vendor/fontawesome/css/fontawesome-all.min.css">
    {{ block "site/styles" . }}{{ partial "site/styles.html" . }}{{ end }}
  </head>
  <body>
    <!-- {{ block "header" . }}{{ partial "site/header.html" . }}{{ end }} -->
    <main class="main" role="main">
      <div class="container">
        {{ block "main" . }}{{ end }}
      </div>
    </main>
    {{ if .IsHome }}
    {{ else }}
      {{ block "footer" . }}
        {{ partial "site/footer.html" . }}
      {{ end }}
    {{ end }}
    {{ block "site/scripts" . }}{{ partial "site/scripts.html" . }}{{ end }}
  </body>
</html>