.project {
  h1 {
    margin-bottom: 10px;
    display: inline-block;
  }

  &__link {
    border-bottom: 1px solid;
    color: #a1bee6;
    text-decoration: none;
  }

  &__description {
    margin: 0 !important;
    display: inline-block;
    font-size: 1rem;
    opacity: 0.9;
  }

  .tags {
    float: right;
  }

  &-snack {
    margin: 30px 0;

    h2 {
      margin: 10px 10px 10px 0;
      font-size: 1.4rem;
      display: inline-block;
    }

    p {
      display: block;
    }
  }
}
  