.tags {
  display: inline-block;
  margin: 0;
  padding: 0;

  .tag {
    margin: 0 5px;
    padding: 5px 8px;
    list-style: none;
    text-transform: lowercase;
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: 12px;
    line-height: 1;
    vertical-align: middle;

    &--active {
      color: #88D3AB;;
      border-color: #88D3AB;;
    }

    &--inactive {
      color: #FF8080;
      border-color: #FF8080;
    }

    &--acquired {
      color: #C0ADDB;
      border-color: #C0ADDB;
    }
  }
}